# Obsidian folder
.obsidian/

# CSV files
*.csv

# Python and shell scripts
*.py
*.sh

# Node modules
node_modules/

# Package lock file
package-lock.json

# Digital garden config
digital_garden_config.yml
